{% extends "layout.html" %} {% block body %}
{%if show_main_content%}
<div class="main-content">
    <a class="main-content-image-container" href="{%url 'post' main_content.0.id%}">
        <div class="main-content-image" style="background-image: url({{main_content.0.thumbnail.url}});" >
        <div class="main-content-title"><span class="main-content-title-text">{{main_content.0.title}}</span></div>

        </div>
    </a> 
</div>
<div class="main-content-mini-image-list">
{% for post in main_content %}
    <a href="{%url 'post' post.id%}" class="main-content-mini-image">
        <img src="{{post.thumbnail.url}}" alt="{{post.title}}" onmouseover="setMainImage('{{post.thumbnail.url}}', '{{post.id}}', '{{post.title}}')" />
    </a>
{% endfor %}
</div>
{%endif%}
<div class="list-container">
<h2 class="page-title">Ultimos posts:</h2>
<div class="grid">
    {% for post in page_obj.object_list %}
    <a href="{%url 'post' post.id%}">
        <div class="card">
            <img src="{{post.thumbnail.url}}" alt="{{post.title}}" />
            <h3>{{ post.title }}</h3>
        </div>
    </a>
    {% endfor %}
</div>
{%if show_pagination%}
<div class="pagination">
    {% for i in range %}
    <a class="{% if current_page|add:"0" == i|add:"1"%}current-page{% endif %}" href="{%url 'filtered_posts' %}?page={{i|add:"1"}}"> {{ i|add:"1" }} </a>
    {% endfor %}
</div>
{%endif%}
</div>
{% endblock %}
