@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");
body {
  background-color: #f0f0f0;
  color: #213555;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #4f709c;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
  border-bottom: 1px solid #4f709c;
  background-color: #003566;
  position: fixed;
  width: 100%;
}

.header a {
  color: #e5d283;
  padding: 0.25em;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.header a:hover {
  background-color: #e5d283;
  color: #213555;
}

.header a:hover .title {
  color: #213555;
}

.header a .title {
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  color: #e5d283;
}

.header nav {
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-right: 1em;
}

.main {
  flex-grow: 1;
  margin-top: 5em;
}

.footer {
  height: 50px;
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #4f709c;
  background-color: #213555;
  color: #e5d283;
}

.list-container {
  margin-bottom: 4em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em;
}

.card {
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 18px 28px 60px -33px #213555;
  -webkit-box-shadow: 18px 28px 60px -33px #213555;
  -moz-box-shadow: 18px 28px 60px -33px #213555;
  transition: box-shadow 0.5s ease-in-out;
  padding-bottom: 0.5em;
}

.card:hover {
  box-shadow: 18px 28px 69px -2px #213555;
  -webkit-box-shadow: 18px 28px 69px -2px #213555;
  -moz-box-shadow: 18px 28px 69px -2px #213555;
}

.card img {
  width: 100%;
  height: 25vw;
}

.page-title {
  padding: 1em;
}

.category-grid {
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2em;
}

.category-card img {
  height: 10vw;
}

.pagination {
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination a {
  padding: 0.5em;
  margin: 0.5em;
  color: #4f709c;
  transition: background-color 0.25s ease-in-out;
  background-color: #f0f0f0;
}

.pagination a.current-page {
  background-color: #e5d283;
}

.pagination a:hover {
  background-color: #e5d283;
}

.post-container {
  margin: 2em;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.post-container .post-content {
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.post-container .post-content img {
  max-width: 75%;
}

.recomendations-title {
  margin-left: 2em;
}

@media screen and (max-width: 600px) {
  .header a .title {
    font-size: 1rem;
  }
  .header nav {
    width: auto;
    font-size: 0.75rem;
    margin-right: 3em;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
    padding: 1em;
  }
  .card img {
    height: 35vh;
  }
  .post-container {
    margin-top: 0;
  }
  .post-container article {
    width: 80vw;
  }
  .post-container article .post-content {
    width: 100%;
    margin: 0;
  }
  .post-container article .post-content img {
    max-width: 100%;
  }
  .recomendations-title {
    margin-left: 1em;
  }
}
