@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");
body {
  background-color: #f0f0f0;
  color: #213555;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #4f709c;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
  border-bottom: 1px solid #4f709c;
  background-color: #003566;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header a {
  color: #e5d283;
  padding: 0.25em;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.header a:hover {
  background-color: #e5d283;
  color: #213555;
}

.header a:hover .title {
  color: #213555;
}

.header a .title {
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  color: #e5d283;
}

.header nav {
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-right: 1em;
}

.main {
  margin-top: 5em;
}

.footer {
  height: 50px;
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #4f709c;
  background-color: #213555;
  color: #e5d283;
}

.main-content {
  margin-top: calc(2vh - 1px);
  position: relative;
}

.main-content .main-content-image {
  height: calc(85vh - 100px);
  background-size: 110%;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.25s ease;
  background-position: center center;
}

.main-content .main-content-image:hover {
  background-size: 100%;
}

.main-content-mini-image-list {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #213555;
}

.main-content-mini-image-list .main-content-mini-image {
  height: 100%;
  width: 10vw;
}

.main-content-mini-image-list .main-content-mini-image img {
  opacity: 0.5;
  height: 100%;
  width: 100%;
  transition: opacity 0.25s ease-in-out;
}

.main-content-mini-image-list .main-content-mini-image img:hover {
  opacity: 1;
}

.list-container {
  margin-bottom: 4em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em;
}

.card {
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 18px 28px 60px -33px #213555;
  -webkit-box-shadow: 18px 28px 60px -33px #213555;
  -moz-box-shadow: 18px 28px 60px -33px #213555;
  transition: box-shadow 0.5s ease-in-out;
  padding-bottom: 0.5em;
}

.card:hover {
  box-shadow: 18px 28px 69px -2px #213555;
  -webkit-box-shadow: 18px 28px 69px -2px #213555;
  -moz-box-shadow: 18px 28px 69px -2px #213555;
}

.card img {
  width: 100%;
  height: 25vw;
}

.page-title {
  padding: 1em;
  margin-top: 1em;
}

.category-grid {
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2em;
}

.category-card img {
  height: 10vw;
}

.pagination {
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination a {
  padding: 0.5em;
  margin: 0.5em;
  color: #4f709c;
  transition: background-color 0.25s ease-in-out;
  background-color: #f0f0f0;
}

.pagination a.current-page {
  background-color: #e5d283;
}

.pagination a:hover {
  background-color: #e5d283;
}

.post-container {
  margin: 2em;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.post-container .post-content {
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.post-container .post-content img {
  max-width: 75%;
}

.recomendations-title {
  margin-left: 2em;
}

.timeline-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.timeline-items-container .timeline-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;
  background-position: center center;
}

.timeline-items-container .timeline-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.timeline-items-container .timeline-item .timeline-item-text-container {
  position: absolute;
  left: calc(50vw - 12em);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 53, 102, 0.8);
  color: gainsboro;
  padding: 1em;
  text-align: center;
}

.timeline-items-container .timeline-item .timeline-item-text-container .timeline-item-title {
  width: 10em;
  margin: 0;
}

.timeline-items-container .timeline-item .timeline-item-text-container h3 {
  margin: 0;
}

.timeline-items-container .timeline-item .timeline-line {
  height: 90vh;
  width: 5px;
  background-color: #003566;
}

.timeline-items-container .timeline-item .timeline-item-image {
  width: 25vw;
  height: 25vw;
  position: absolute;
  left: calc(50vw + 1em);
  transition: all 1s ease-in-out;
}

.timeline-items-container .timeline-item.reversed .timeline-item-text-container {
  left: calc(50vw + 1em);
}

.timeline-items-container .timeline-item.reversed .timeline-item-image {
  left: calc(25vw - 2em);
}

.timeline-items-container .timeline-item.reversed.active .timeline-item-text-container {
  left: calc(50vw + 3em);
}

.timeline-items-container .timeline-item.reversed.active .timeline-item-image {
  left: calc(20vw - 3em);
}

.timeline-items-container .timeline-item.active .timeline-item-text-container {
  left: calc(50vw - 20em);
}

.timeline-items-container .timeline-item.active .timeline-item-image {
  width: 30vw;
  height: 30vw;
  left: calc(50vw + 2em);
}

@media screen and (max-width: 600px) {
  .header {
    height: 3em;
  }
  .header a .title {
    font-size: 1rem;
  }
  .header nav {
    width: auto;
    font-size: 0.75rem;
    margin-right: 3em;
  }
  .main {
    margin-top: calc(3em - 6px);
  }
  .main-content .main-content-image {
    height: 50vh;
    background-size: cover;
  }
  .main-content .main-content-image:hover {
    background-size: cover;
  }
  .main-content-mini-image-list {
    height: 15vw;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
    padding: 1em;
  }
  .card img {
    height: 35vh;
  }
  .post-container {
    margin-top: 0;
  }
  .post-container article {
    width: 80vw;
  }
  .post-container article .post-content {
    width: 100%;
    margin: 0;
  }
  .post-container article .post-content img {
    max-width: 100%;
  }
  .recomendations-title {
    margin-left: 1em;
  }
  .timeline-items-container .timeline-background {
    top: 3em;
  }
  .timeline-items-container .timeline-item .timeline-item-text-container {
    left: 5vw;
  }
  .timeline-items-container .timeline-item .timeline-item-text-container .timeline-item-title {
    width: 45vw;
  }
  .timeline-items-container .timeline-item .timeline-line {
    height: 70vh;
  }
  .timeline-items-container .timeline-item .timeline-item-image {
    left: calc(50vw + 1em);
  }
  .timeline-items-container .timeline-item.reversed .timeline-item-text-container {
    left: 50vw;
    text-align: center;
  }
  .timeline-items-container .timeline-item.reversed .timeline-item-image {
    left: calc(25vw - 2em);
  }
  .timeline-items-container .timeline-item.reversed.active .timeline-item-text-container {
    left: calc(50vw + 1em);
  }
  .timeline-items-container .timeline-item.reversed.active .timeline-item-image {
    left: calc(15vw - 2em);
  }
  .timeline-items-container .timeline-item.active .timeline-item-text-container {
    left: calc(50vw - 10em);
  }
  .timeline-items-container .timeline-item.active .timeline-item-image {
    left: calc(50vw + 1em);
    width: 40vw;
    height: 40vw;
  }
}
