$base-color-1: #213555;
$base-color-2: #4f709c;
$base-color-3: #003566;
$base-color-4: #e5d283;
$border-color: $base-color-2;
$background-color: #f0f0f0;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

body {
    background-color: $background-color;
    color: $base-color-1;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $base-color-2;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
    border-bottom: 1px solid $border-color;
    background-color: $base-color-3;
    position: fixed;
    width: 100%;
    z-index: 1000;
    a {
        color: $base-color-4;
        padding: 0.25em;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
        &:hover {
            background-color: $base-color-4;
            color: $base-color-1;
            .title {
                color: $base-color-1;
            }
        }
        .title {
            transition: background-color 0.25s ease-in-out,
                color 0.25s ease-in-out;
            color: $base-color-4;
        }
    }
    nav {
        font-size: 1.5rem;
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin-right: 1em;
    }
}

.main {
    margin-top: 5em;
}

.footer {
    height: 50px;
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $border-color;
    background-color: $base-color-1;
    color: $base-color-4;
}

.main-content {
    margin-top: calc(2vh - 1px);
    position: relative;
    .main-content-image {
        height: calc(85vh - 100px);
        background-size: 110%;
        background-repeat: no-repeat;
        position: relative;
        transition: all 0.25s ease;
        background-position: center center;
        &:hover {
            background-size: 100%;
        }
    }
}
.main-content-mini-image-list {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213555;
    .main-content-mini-image {
        height: 100%;
        width: 10vw;
        img {
            opacity: 0.5;
            height: 100%;
            width: 100%;
            transition: opacity 0.25s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.list-container {
    background-color: #213555;
    color: gainsboro;
    padding-bottom: 0.5em;
    min-height: 90vh;
    h2 {
        margin: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    text-align: center;
    position: relative;
    height: 25vw;
    &:hover {
        h3 {
            background-color: rgba(0, 53, 102, 1);
            padding: 2em 0 2em 0;
        }
    }
    img {
        width: 100%;
        height: 25vw;
    }
    h3 {
        transition: all 0.25s ease-in-out;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 53, 102, 0.8);
        width: 100%;
        color: gainsboro;
        margin: 0;
        padding: 1em 0 1em 0;
    }
}

.page-title {
    padding: 1em;
    margin-top: 1em;
}

.category-grid {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 2em;
}

.category-card {
    img {
        height: 10vw;
    }
}

.pagination {
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
        padding: 0.5em;
        margin: 0.5em;
        color: gainsboro;
        transition: background-color 0.25s ease-in-out;
        &.current-page {
            background-color: $base-color-4;
            color: $base-color-1;
        }
        &:hover {
            background-color: $base-color-2;
            color: gainsboro;
        }
    }
}

.post-container {
    margin: 2em;
    display: grid;
    grid-template-columns: 4fr 1fr;
    aside {
        // styling for ads
    }
    .post-content {
        margin: 2em;
        display: flex;
        flex-direction: column;
        text-align: start;
        img {
            max-width: 75%;
        }
    }
}

.recomendations-title {
    margin-left: 2em;
}

.timeline-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .timeline-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        transition: background-image 1s ease-in-out;
        background-position: center center;
    }
    .timeline-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        .timeline-item-text-container {
            position: absolute;
            left: calc(50vw - 12em);
            transition: all 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 53, 102, 0.8);
            color: gainsboro;
            padding: 1em;
            text-align: center;
            .timeline-item-title {
                width: 10em;
                margin: 0;
            }
            h3 {
                margin: 0;
            }
        }

        .timeline-line {
            height: 90vh;
            width: 5px;
            background-color: $base-color-3;
        }
        .timeline-item-image {
            width: 25vw;
            height: 25vw;
            position: absolute;
            left: calc(50vw + 1em);
            transition: all 1s ease-in-out;
        }
        &.reversed {
            .timeline-item-text-container {
                left: calc(50vw + 1em);
            }
            .timeline-item-image {
                left: calc(25vw - 2em);
            }
            &.active {
                .timeline-item-text-container {
                    left: calc(50vw + 3em);
                }
                .timeline-item-image {
                    left: calc(20vw - 3em);
                }
            }
        }
        &.active {
            .timeline-item-text-container {
                left: calc(50vw - 20em);
            }
            .timeline-item-image {
                width: 30vw;
                height: 30vw;
                left: calc(50vw + 2em);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 3em;
        a {
            .title {
                font-size: 1rem;
            }
        }
        nav {
            width: auto;
            font-size: 0.75rem;
            margin-right: 3em;
        }
    }
    .main {
        margin-top: 2em;
    }
    .main-content {
        .main-content-image {
            height: 50vh;
            background-size: cover;
            &:hover {
                background-size: cover;
            }
        }
    }
    .main-content-mini-image-list {
        height: 15vw;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .card {
        height: 35vh;
        img {
            height: 35vh;
        }
    }
    .post-container {
        margin-top: 0;
        article {
            width: 80vw;
            .post-content {
                width: 100%;
                margin: 0;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .recomendations-title {
        margin-left: 1em;
    }

    .timeline-items-container {
        .timeline-background {
            top: 3em;
        }
        .timeline-item {
            .timeline-item-text-container {
                left: 5vw;
                max-width: 35vw;
                .timeline-item-title {
                    width: 35vw;
                }
            }
            .timeline-line {
                height: 70vh;
            }
            .timeline-item-image {
                left: calc(50vw + 1em);
            }
            &.reversed {
                .timeline-item-text-container {
                    left: 50vw;
                    text-align: center;
                }

                .timeline-item-image {
                    left: calc(25vw - 2em);
                }
                &.active {
                    .timeline-item-text-container {
                        left: calc(50vw + 1em);
                    }
                    .timeline-item-image {
                        left: calc(15vw - 2em);
                    }
                }
            }
            &.active {
                .timeline-item-text-container {
                    left: calc(50vw - 10.5em);
                }

                .timeline-item-image {
                    left: calc(50vw + 1em);
                    width: 40vw;
                    height: 40vw;
                }
            }
        }
    }
}
